/*Estilizado Categorias*/
.categorias{
    width: 330px;
    height: 938px;
    flex-shrink: 0;
    margin-left: 3.50%;
}
/*estilizando os produtos*/
.produtos{
    display: flex;
    width: 846px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 60px 33px;
    flex-wrap: wrap;
}
.produto{
    width: 193px;
    height: 231px;
    flex-shrink: 0;
}

section{
    width: 100%;
    display: flex;
}


/*Estiliza o header*/
header{
    width: 100%;
    padding-left: 3.50%;
    padding-right: 3.50%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}
/*Estilizando os textos da navbar*/
.link-header{
    margin: 0%;
    text-align: end;
}

.sub-reader{
    min-width: 150px;
    max-width: 210px;
    justify-content: space-between;
    width: 22%;
    display: flex;
}
/*Serve pra estilizar os inputs das telas de cadastros e de login*/
.cadastro, .nome,.dadospessoais, .login{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.form-dadospessoais{
    width: 31.3%;
}

.endereco{
    display: flex;
    flex-wrap: wrap;
}
.form-nome, .form-credencial{
    width: 100%;
}

.form-endereco{
    width: 56%;
}

.form-numero{
    width: 16%;
}
.form-cep, .form-complemto{
    width: 22%;
}

.cidade-uf{
    width: 35%;
    margin-left: auto;
}

input{
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-color: 1px #333;
    margin:5px;
    box-sizing: border-box;

}

label{
    margin-left: 10px;
}
/*Estilizando o texto de esqueceu a senha?*/
.esqueci{
    width: 100%;
    text-align: end;
    font-size: 0.6rem;
}
/*Estilizando o botão de entrar*/
button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

/* Estilizando o campo de entrada de data */
input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  /* Personalizando as cores dos elementos de data */
input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
}
  
  /* Personalizando a seta de rolagem (apenas no Chrome) */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}